@inherits LayoutComponentBase

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Blaze Movie Search</a>
</nav>

<div class="main">

    <div class="content">
        @Body
    </div>
</div>